/*importing custom font style to match Buy and Large*/ 
@font-face {
  font-family: Protonema; /* set name */
  src: url(Protonema.ttf); /* url of the font */
}

/*H1 style to style main title*/
h1#title1 {
  font-family: Protonema;
  font-size: 60px;
  text-align: center;
  background-color:#FFF4A3;
}

main{
  width: 100%;
  background-color:#D9EEE1;
  justify-content: end;
}

#heroCard {
  margin:auto;
  width: 65%;
  aspect-ratio: 16/9;
  align-self: center;
  padding: 5%;
  background-color:#FFC0C7;
}

#heroDesc {
  text-align: end;
}

#heroButton{
  width: 15%;
  aspect-ratio: 16/9;
  margin-right: 60%;
  margin-top: 10%;
}

/*Navigation bars style method sourced from W3Schools*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

/*div styles for floating cards.*/
div {
  text-align: center;
}
div.card:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
  border-radius: 8px;
}

/*H2 style to keep card titles center*/

/*Footer styles*/
footer {
  background-color: #333333;

}